apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: app-container
          image: nginx:latest
          ports:
            - containerPort: 80

          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret

          volumeMounts:
            - name: app-storage
              mountPath: /usr/share/nginx/html
      volumes:
        - name: app-storage
          persistentVolumeClaim:
            claimName: app-pvc
